.shell-container {
    border: 1px solid gray;
    border-radius: 5px;
    height: 95vh;
    margin: 10px;
    overflow-y: scroll;
    overflow-x: hidden;

    background: radial-gradient(ellipse at center, #eef2f3 0%, #8e9eab 100%);      
}