<div *ngIf="isLoading$ | async" class="loading">Loading chat rooms...</div>

<div class="add-chatroom-container">
  <input #newRoomName type="text" placeholder="New chat room name" />
  <button (click)="createChatRoom(newRoomName.value); newRoomName.value = ''">
    Add Chat Room
  </button>
</div>

<ul *ngIf="!(isLoading$ | async)">
  <li *ngFor="let room of chatRooms$ | async" (click)="navigateToRoom(room)">
    {{ room.name }}
    <!-- TODO: Implement role specific action -->
    <!-- <button (click)="deleteChatRoom(room.id)">Delete</button> -->
  </li>
</ul>
<router-outlet></router-outlet>