<div class="chatroom" *ngIf="chatroomData$ | async as chatroom">
  <div class="chatroom-header">
    <button class="back-button" (click)="goBack()">Back</button>
    <h1> {{ chatroom.name }} </h1>
  </div>
  <div class="chat-messages" #chatContainer>
    <div
      *ngFor="let message of messages"
      [ngClass]="{ self: message.isSelf, other: !message.isSelf }"
      class="message"
    >
      <div class="message-info">
        <span class="username">{{ message.username }}</span>
        <span class="timestamp">{{ message.timestamp }}</span>
        <span class="status">{{ message.status }}</span>
      </div>
      <div class="message-content">
        {{ message.content }}
      </div>
    </div>
  </div>
  <div class="chat-input">
    <input
      type="text"
      [(ngModel)]="newMessage"
      placeholder="Type your message..."
      (keydown.enter)="sendMessage(chatroom)"
    />
    <button (click)="sendMessage(chatroom)">Send</button>
  </div>
</div>